@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1120px;
    background-color: black;
}

/* nav style start */
.navbar {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.nav-link>ul {
    display: flex;
    border: 1px solid #f3eeee59;
    align-items: center;
    padding: 5px 5px;
    border-radius: 25px;
}

.nav-link>ul>li {
    list-style: none;
    margin-left: 30px;
    color: #fff;
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 6px 10px;
    color: #fff;
    border: none;
}

.btn-second {
    color: white;
    padding: 8px 6px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.253);
    border-radius: 15px;
}

.btn {
    margin-top: 20px;
}

.Fitness {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
}

.hambergar {
    display: none;
    color: wheat;
    align-items: center;
}

/* nav style end */
.bannar {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-banner {
    width: 50%;
}

.bannar-img {
    display: flex;
    justify-content: flex-end;
    object-fit: cover;
    width: 50%;
}

.bannar-tiile {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.discription {
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-weight: 400;
    /* text-align: left; */
}

.dotte {
    height: 20px;
    width: 20px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.curd-text {
    color: azure;
}

.curd1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    height: 90px;
    width: 200px;
    margin-top: -12%;
    margin-left: 42%;
}

.curd2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    height: 90px;
    width: 200px;
    margin-top: -35%;
    margin-left: 72%;
}

/* main style */

main {
    width: 80%;
    margin: 20px auto;
}

/* habbit section style */
.habbit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.habbit-curds{
    display: flex;
    justify-content:space-between;
    gap: 40px;
    margin-top: 20px;
    
}

.habbit-title1,.title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 38px;
    font-weight: 900;
    
}

.habbit-curd>img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.103);
    padding: 5px;
}
.habbit-curd{
    text-align: center;
}



.habbit-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

/* run an extra mile easily style */

.mile-easily{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 60px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
}

.run-text-container>button{
    margin-top: 20px;
}

.run-img-container>img{
    width: 100%;
    border-radius: 20px;
}

/* responsive */

@media screen and (max-width:576px) {
    .nav-link {
        display: none;
    }

    .hambergar {
        display: block;
    }

    .bannar {
        flex-direction: column;

    }

    .text-banner {
        width: 100%;
    }

    .bannar-img {
        width: 100%;
    }

    .curd1 {
        margin-top: -60%;
        margin-left: 10%;
    }

    .curd2 {
        margin-top: -130%;
        margin-left: 58%;
    }

    .habbit-curds{
        flex-direction: column;
    }

    .mile-easily{
        flex-direction: column;
    }
    .run-text-container>button{
        width: 100%;
    }
}